/*mainWrapper*/
.mainWrapper{
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/c732cb00-be61-4d64-b8c3-99f022e7a123/95f72633-302d-4048-a070-ce5beeb8ce2e/UA-uk-20220620-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: fit-content;
}

.secondaryWrapper {
    background: #000;
    color: white;
    height: max-content;
}